html {
    box-sizing: border-box;
    background-color: rgba(232, 232, 232, 0.6);
    word-break: break-word;
    transition: all 0.5s ease-in;
  }

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
}